body {
    padding: 1em;
}

button {
    width: 180px;
}

.d1 {
    color: crimson;
}

.d2 {
    color: rgb(231, 184, 28);
}

.d3 {
    color: rgb(199, 16, 206);
}

.d4 {
    color: rgb(220, 173, 20);
}

.card {
    height: 100%;
    border-color: orange !important;
}

.colorpurple {
    background-color: darkmagenta !important;
    border: none;
}

img {
    padding-top: 20px;
}

input {
    border: none;
    font-style: italic;
    padding: 1em;
    width: 100%;
    text-align: right;
}